@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white; /* El fondo general es blanco como en tu captura */
  margin: 0;
  padding: 0;
}

/* Animación del Ticker de Izquierda a Derecha */
@keyframes ticker {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-ticker {
  display: inline-flex;
  animation: ticker 45s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
