@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
}

/* Animación del Ticker para que no falle */
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  display: inline-flex;
  animation: ticker 40s linear infinite;
}
